<% @page_title = t("projects.completed_title", title: Setting.productName) %>

<div class="page_header"><%= t("projects.completed_projects") %></div>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th align="left"><%= t("projects.name") %></th>
    <th align="left"><%= t("projects.completed") %></th>
    <th align="left"><%= t("projects.tasks") %></th>
    <th align="left">&nbsp;</th>
  </tr>

  <%= render partial: 'completed_project', collection: @completed_projects %>
</table>
