<div id="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),
               html: {class: "new_user"}) do |f| %>
    <div id="login-title"><%= t('devise.sign_in') %></div>
    <%= f.hidden_field :subdomain, :value => request.subdomains[0] %>
    <div class="clearer"></div>
    <div class="input-title"><%= f.label :username %></div>
    <div class="login-input"><%= f.text_field :username%></div>
    <div class="input-title"><%= f.label :password %></label></div>
    <div class="login-input"><%= f.password_field :password %></div>
    <% if flash[:alert] %>
       <div class="alert alert-error" id="notice">
         <%= flash[:alert] %>
       </div>
    <% end %>
    <div id="forgotten-pass"><%= link_to t('devise.sessions.forget'), new_user_password_path  %></div>
    <div class="login-button"><%= f.submit t('devise.sessions.login') %></div>
    <div class="clearer"></div>
  <% end %>
</div> <!-- end login --> <div class="clearer"></div>
<% if Setting.omniauth %>
  <div id='registration'>
    <%= link_to user_omniauth_authorize_path(:fluenta) do %>
      <%= t 'devise.omniauth.sign_in_with', kind: 'Fluenta' %>
    <% end %>
  </div>
<% end %>
