<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset='utf-8'>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
    <title><%= @page_title || Setting.productName %></title>

    <% if Setting.version %>
      <meta content="jobsworth <%= Setting.version %>" name="version"></meta>
    <% end %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <%= yield :layout %>
        </div>
      </div>
    </div>

  </body>
</html>
